{% extends '/base.html' %}
{% block content %}
<div class="row pb-2">
    <div class="col ">
        <ul class="nav nav-tabs" style="overflow-x:auto; overflow-y:hidden; white-space: nowrap; flex-wrap: nowrap;">
            <li class="nav-item">
                <a class="nav-link {% if request.path.split('/')[2] == '' %} active {% endif %}" href="{{url_for('certificate_managment')}}">Список</a>
            </li>
            <li class="nav-item">
                <a class="nav-link {% if request.path.split('/')[2] == 'create' %} active {% endif %}" href="{{url_for('certificate_create')}}">Создание</a>
            </li>
            <li class="nav-item">
                <a class="nav-link {% if request.path.split('/')[2] == 'recall' %} active {% endif %}" href="{{url_for('certificate_recall')}}">Отзыв</a>
            </li>
        </ul>
    </div>
</div>
{% if request.path.split('/')[2] == '' %}
<div class="row tab-content">
    <div class="col tab-pane fade show active" id="div-certificate-list">
        <div class="table-responsive">
            <table class="table table-bordered table-hover ">
                <thead class="thead-light">
                    <tr>
                        <th class="text-center">Статус</th>
                        <th class="text-center">Название</th>                        
                        <th class="text-center">Ссылка</th>
                    </tr>
                </thead>
                <tbody>
                    {% for cert in sertificate.status %}
                    <tr>
                        {% if cert.recalled %}
                        <td class="text-center">Отозван</th>
                            {% else %}
                        <td class="text-center">
                            </th>
                            {% endif %}
                        <td class="text-center">{{cert.name}}</th>
                        
                        <td class="text-center">                            
                            <button class="btn btn-sm btn-link" type="button" data-toggle="collapse" data-target="#collapseExample{{loop.index}}">
                                Показать
                            </button>                            
                            <div class="collapse" id="collapseExample{{loop.index}}">
                                scp user@{{request.host}}:/home/dmitriy/client-configs/files/{{cert.name}}.ovpn                                
                            </div>                        
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    {% endif %}
    {% if request.path.split('/')[2] == 'create' %}
    <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
        <div class="jumbotron p-3">
            <form action="{{url_for('certificate_create')}}" method="post">
                {{sertificate.forms.csrf_token}}
                <h3>{{sertificate.forms.name.label()}}</h3>
                <div class="form-group">                    
                    {{sertificate.forms.name(class='form-control')}}
                </div>
                <button type="submit" class="btn btn-primary">Создать</button>
            </form>
        </div>
    </div> 
    {% endif %}   
    {% if request.path.split('/')[2] == 'recall' %}
    <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
        <div class="jumbotron p-3">
            <form action="{{url_for('certificate_recall')}}" method="post">
                {{sertificate.forms.csrf_token}}
                <h3>Отзыв сертификата</h3>                        
                <div class="form-group">
                    {{ sertificate.forms.cert(class="form-control")}}
                </div>                
                <button type="submit" class="btn btn-primary">Отозвать</button>
            </form>
        </div>
    </div>    
    {% endif %}
</div>
{% endblock %}
