{% extends '/base.html' %}
{% block content %}


<div class="row">    
    <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
        <div class="jumbotron p-1">
            <h5 style="color:#6c757d;">Портов используется: {{client.forwarding.count}} / {{client.forwarding.count_max}} </h5>
        </div>
    </div>
</div>
<div class="row">
    <div class="col">
        <div class="jumbotron p-3">
            {% if client.list_not_active %}
            <h5 style="color:#6c757d;">Подключены {{client.count_active}} из {{ client.count}} клиентов</h5>
            <h5 style="color:#6c757d;">Неактивные клиенты</h5>
            <ul class="list-group list-group-flush overflow-auto" style="max-height: 200px;">
                {% for sbc in client.list_not_active %}
                <a class="list_element list-group-item list-group-item-action" style="cursor: pointer"
                    href="{{ url_for('index', sbc=sbc.id) }}">{{sbc.name}}</a>
                {% endfor %}
            </ul>
            {% else %}
            <h5 style="color:#6c757d;">Все клиенты подключены</h5>
            {% endif %}
        </div>
    </div>
    <div class="col">
        <div class="jumbotron p-3">
            {% if client.forwarding.list_active %}
            <h5 style="color:#6c757d;">Переадресация включена у {{ client.forwarding.list_active|length }} клиентов
            </h5>
            <ul class="list-group list-group-flush overflow-auto" style="max-height: 200px;"></ul>
            {% for sbc in client.forwarding.list_active %}
            <a class="list_element list-group-item list-group-item-action" style="cursor: pointer"
                href="{{ url_for('index', sbc=sbc.id) }}">{{sbc.name}}</a>
            {% endfor %}
            </ul>
            {% else %}
            <h5 style="color:#6c757d;">Переадресация выключена</h5>
            {% endif %}
        </div>
    </div>
</div>



{% endblock %}