{% extends '/base.html' %}
{% block content %}

<div class="row">
    <div class="col">
        <div class="jumbotron p-3">
            {% if list_notactive_clients %}
            <h5 style="color:#6c757d;">Подключены {{count_active_clients}} из {{count_all_clients}} клиентов</h5>
            <h5 style="color:#6c757d;">Неактивные клиенты</h5>
            <ul class="list-group list-group-flush overflow-auto" style="max-height: 200px;">
                {% for sbc in list_notactive_clients%}
                <a class="list_element list-group-item list-group-item-action" style="cursor: pointer"
                    href="{{ url_for('index', sbc=sbc.id) }}">{{sbc.name}}</a>
                {% endfor %}
            </ul>
            {% else %}
            <h5 style="color:#6c757d;">Все клиенты подключены</h5>
            {% endif %}
        </div>
    </div>
    <div class="col">
        <div class="jumbotron p-3">

            {% if list_sbc_with_active_forwarding %}
            <h5 style="color:#6c757d;">Переадресация включена у {{ list_sbc_with_active_forwarding|length }} клиентов
            </h5>
            <ul class="list-group list-group-flush overflow-auto" style="max-height: 200px;"></ul>
            {% for sbc in list_sbc_with_active_forwarding %}
            
            <a class="list_element list-group-item list-group-item-action" style="cursor: pointer"
                    href="{{ url_for('index', sbc=sbc.id) }}">{{sbc.name}}</a>
            {% endfor %}
            </ul>
            {% else %}
            <h5 style="color:#6c757d;">Переадресация выключена</h5>
            {% endif %}
        </div>
    </div>
</div>



{% endblock %}