






<!-- <button type="button" class="btn btn-primary">Включить переадресацию</button> -->
<div class="container-fluid p-0">
  <div class="row">
    <div class="col"><h3>Client1</h3></div>
    <div class="col">
      <div class="btn-group align-center d-flex justify-content-center"  role="group" aria-label="Basic example">
        <button type="button" class="btn btn-sm btn-success">Открыть все</button>  
        <button type="button" class="btn btn-sm btn-danger">Закрыть все</button>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <div class="table-responsive">
        <table class="table table-sm table-bordered table-hover ">
          <caption style="caption-side: top;"><h5>Передресация<h5></caption>
            <thead class="thead-light">
              <tr>
                <th class="text-center">Удалить</th>
                <th class="text-center">Порт назначения</th>        
                <th class="text-center">Выделенный Порт </th>
                <th class="text-center">Отключение</th>      
              </tr>
            </thead>
            <tbody>  
              <tr>
                <td class="text-center">удалить</td>
                <td class="text-center">22</td>        
                <td class="text-center">80239 </td>      
                <td class="text-center">Закрыть</td>
              </tr>  
              <tr>
                <td class="text-center">удалить</td>
                <td class="text-center">80</td>        
                <td class="text-center">80249 </td>      
                <td class="text-center">Закрыть</td>
              </tr>  
              <tr>
                <td class="text-center">удалить</td>
                <td class="text-center">80</td>        
                <td class="text-center">80249 </td>      
                <td class="text-center"><a href="#">Открыть</a></td>
              </tr>  
            </tbody>
          </table>
      </div>  
    </div>    
  </div>
  <div class="row">
    <div class="col">
      <form >
        <div class="form-row">
          <div class="col col-sm-6 col-md-3 col-xl-2">
            <input type="number" class="form-control" id="inputPort" placeholder="Добавить порт">
          </div>
          <div class="col">
            <button type="submit" class="btn btn-primary mb-2">Добавить</button>
          </div>
        </div>
      </form>
    </div>
  </div>
  <div class="row mt-5">
    <div class="col">
      <button type="button" class="btn btn-secondary float-right">Назад</button>
    </div>
  </div>  
</div>









