






<!-- <button type="button" class="btn btn-primary">Включить переадресацию</button> -->
<div class="container-fluid p-0">
  <div class="row">
    <div class="col"><h3>Client1</h3></div>
    <div class="col">
      <div class="btn-group align-center d-flex justify-content-center"  role="group" aria-label="Basic example">
        <button type="button" class="btn btn-sm btn-success">Открыть все</button>  
        <button type="button" class="btn btn-sm btn-danger">Закрыть все</button>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <div class="table-responsive">
        <table class="table table-sm table-bordered table-hover ">
          <caption style="caption-side: top;"><h5>Передресация<h5></caption>
            <thead class="thead-light">
              <tr>
                <th class="text-center">Удалить</th>
                <th class="text-center">Порт назначения</th>        
                <th class="text-center">Выделенный Порт </th>
                <th class="text-center">Дата открытия</th>
                <th class="text-center">Отключение</th>      
              </tr>
            </thead>
            <tbody>  
              {% for port in sbc_ports %}
              <tr>
                <!-- <form action="{{url_for('settings', choice_sbc_id=currend_sbc)}}" method="post"> -->
                <td class="text-center">
                  <!-- <button type="submit" name="delete_port" value="{{port.id}}" class="btn btn-sm btn-link">Удалить</button> -->
                  {% include 'forms/delete_port.html' %}
                </td>
                <td class="text-center">{{port.destination_port}}</td>        
                <td class="text-center">{{port.dedicated_port}}</td>
                <td class="text-center">{{port.date_open}}</td>                
                <td class="text-center">
                  <!-- <button type="submit" name="open_port" value="{{port.id}}" class="btn btn-sm btn-link">Открыть</button> -->
                  {% include 'forms/open_port.html' %}
                </td>
                <!-- </form> -->
              </tr>  
              
              {% endfor %}
            </tbody>
          </table>
      </div>  
    </div>    
  </div>
  <div class="row">
    <div class="col">


      <!-- <form action="{{ url_for('settings', choice_sbc_id=currend_sbc) }}" method="post">
        <div class="form-row">
          <div class="col col-sm-6 col-md-3 col-xl-2">
            <input name="add_port" type="number" class="form-control" id="inputPort" placeholder="Добавить порт">
          </div>
          <div class="col">
            <button type="submit" class="btn btn-primary mb-2">Добавить</button>
          </div>
        </div>
      </form> -->
      {% include 'forms/add_port.html' %}


    </div>
  </div>
  <div class="row mt-5">
    <div class="col">
      <button type="button" class="btn btn-secondary float-right" OnClick = "history.back ()">Назад</button>
    </div>
  </div>  
</div>









