{% if sbc_ports %}
<div class="table-responsive">
  <table class="table table-sm table-bordered table-hover ">
    <caption style="caption-side: top;"><h5>Передресация включена<h5></caption>
      <thead class="thead-light">
        <tr>
          <th class="text-center">Порт назначения</th>        
          <th class="text-center">Выделенный Порт </th>
          <th class="text-center">Дата открытия</th>      
        </tr>
      </thead>      
      <tbody> 
      	{% for port in sbc_ports %} 
        <tr>
          <td class="text-center">{{port.destination_port}}</td>
          <td class="text-center">{{port.dedicated_port}}</td>
          <td class="text-center">{{port.date_open}}</td>          
        </tr>          
        {% endfor %}
      </tbody>
    </table>
</div>

<button type="button" class="btn btn-danger float-right">Выключить переадресацию</button>
{% endif %}