  <nav class="navbar flex-column list-group list-group-flush bg-light p-0 overflow-auto" >        
        <input class="form-control mt-2 mb-2" type="search" placeholder="Search" aria-label="Search">        
        <li class="list-group-item list-group-item-action d-flex justify-content-between align-items-center" style="cursor: pointer">
          Cras justo odio
          <span class="badge badge-danger badge-pill" style="background: red;">&#9211;</span>
        </li>                  
        <li class="list-group-item list-group-item-action d-flex justify-content-between align-items-center" style="cursor: pointer">
          Vestibulum at eros asdas
          <span class="badge badge-success badge-pill">&#9211;</span>
        </li>
        <li class="list-group-item list-group-item-action d-flex justify-content-between align-items-center" style="cursor: pointer">
          Vestibulum at eros asdas
          <span class="badge badge-success badge-pill"><i class="fas fa-power-off"></i></span>
        </li>
        <li class="list-group-item list-group-item-action d-flex justify-content-between align-items-center" style="cursor: pointer">
          Vestibulum at eros asdas
          <span class="badge badge-success badge-pill">
              <img src="{{ url_for('static', filename='fontawesome/svgs/solid/power-off.svg') }}" style="width: 10px; height: 10px;">
          </span>
        </li>
        
        {% for sbc in list_sbc %}

        <li class="list-group-item list-group-item-action d-flex justify-content-between align-items-center" style="cursor: pointer">          
          {{sbc.name}} 

            {% for log in sbc.logs %}
              {{log.date | last }}
            {% endfor %}

          <span class="badge badge-success badge-pill">
              <i class="fas fa-power-off"></i>
          </span>
        </li>

        {% endfor %}
       
        
      
      
  </nav>
