  <nav class="navbar bg-light p-0 overflow-auto">
    <input class="form-control mt-2 mb-2" type="search" placeholder="Search" aria-label="Search" onsearch="search_sbc()" onkeyup="search_sbc()" id="search_sbc">
    <ul class="list-group list-group flex-column w-100" id="sidebar_list">
      
      {% for row in list_sbc_status %}
      <a class="list_element list-group-item list-group-item-action {% if row[0].id == currend_sbc_id %} active {% endif %}" style="cursor: pointer" href="{{ url_for('index', sbc=row[0].id) }}">      
        <div class="d-flex justify-content-between align-items-center">
        <div>{{ row[0].name }}</div>
        {% if row[1] %}
          {% if row[1].type|string()|lower() == "connect" %}              
            <span class="badge badge-success badge-pill">
              <i class="fas fa-power-off"></i>
            </span>
          {% elif row[1].type|string()|lower() == "disconnect" %}
            <span class="badge badge-danger badge-pill">
              <i class="fas fa-power-off"></i>
            </span>
          {% endif %}
        {% endif %}        
        </div>
      </a>
    
    {% endfor %}
    </ul>
  </nav>
